section.shop_section(
  carousel
  elements-per-carousel="4"
  v-if="storeFrontCtrl.roomsCategoriesList.children.length > 4"
)
  .shop-section_header
    .shop-section_actions
    .shop-section_title
      h2.h2 Shop by room
    .shop-section_actions
      button.btn.btn--outline.fa.fa-angle-left(
        type="button"
        v-show="storeFrontCtrl.roomsCategoriesList.children.length > 4"
        @click="carouselController.scrollLeft()"
      )
      button.btn.btn--outline.fa.fa-angle-right(
        type="button"
        v-show="storeFrontCtrl.roomsCategoriesList.children.length > 4"
        @click="carouselController.scrollRight()"
      )
  .shop-carousel_mask
    ul.shop_list.shop-room_list(
      carousel-elems-container
    )
      li.shop-tile_wrap.shop-room_tile(
        carousel-elem
        v-for="(category, id) in storeFrontCtrl.roomsCategoriesList.children"
        :key="id"
      )
        router-link.room-tile_box(to="/some-link")
          .room-tile_img
            .img-wrapper
              img(
                :src="category.thumbnail || 'https://cdn3.housetipster.com/empty.jpg'"
                alt="description picture"
              )
          .room-tile_title
            p {{ category.title }}
