article.product
  section.product_gallery
    .gallery_wrap
      .gallery_container(
        :style="{'background-size': 'contain', 'background': `url(${productPageCtrl.media.img}) no-repeat center`}"
      )
    .gallery_thumbnails-mask(style="overflow: hidden;" )
      Carousel.gallery_thumbnails(
        :items="4"
        :nav="false"
      )
        .thumbnail_wrap(
          v-for="(media,index) in productPageCtrl.mediaThumbnails"
          :key="index"
        )
          button.thumbnail_item(
            type="button"
            :class="{'active': productPageCtrl.mainMediaIndex === index}"
            @click.prevent="showImage(index)"
          )
            .thumbnail_item-indent(
              :style="{'background': 'url(' + (media.image || media) + ') no-repeat center', 'background-size': 'contain'}"
            )
            img(:src="media.image" alt="image description")
  section.product_info-main
    h1.product_name {{ productPageCtrl.product.title }}

    .product_code
      span
        | Product code:
        b {{ productPageCtrl.product.code }}

    .product_info
      product-rating.product_rating(
        :rate-value="productPageCtrl.product.rating"
        is-read-only="true"
        is-hover-disable="true"
      )
      a.product_reviews(
        v-scroll-to="'.reviews-title, 150px'"
      ) ({{ reviewCount }})

    .product_price
      span.price ${{ productPageCtrl.product.newPrice[0] || 0 }}
        sup {{ productPageCtrl.product.newPrice[1] || '00' }}
      span.old-price(
        v-if="productPageCtrl.product.oldPrice"
      ) ${{ productPageCtrl.product.oldPrice[0] }}
        sup {{ productPageCtrl.product.oldPrice[1] }}

    .product_actions
      .product_buy
        label.product_buy-qty
          span.product_attribute-label Quantity:
          input(
            type="number"
            step="1"
            min="1"
            pattern="\\d+"
            required
            v-model="productPageCtrl.selectedOptions.qty"
          )
        button.product_buy-tocart.btn.btn--primary(
          @click.prevent="addToCart"
          type="submit"
        )
          i.fa.fa-shopping-cart
          | &ensp;
          span Add to Cart

      .product_options
        .product_attribute(
          v-for="(optionsGroup, index) in productPageCtrl.product.options"
          :key="index"
        )
          span.product_attribute-label {{ optionsGroup.title }}:
          ul.product_attribute-list
            li.product_attribute-wrap(
              v-for="(option, id) in optionsGroup.filterItems"
              :key="id"
              :class="{'selected': option.selected}"
            )
              button.product_attribute-option(
                type="button"
                :class="{'color-option': optionIsColor}"
                @click.prevent="option.selected = true"
              ) {{ option.title }}
              span.product_attribute-tooltip
                span.product_attribute-tooltip-bg(
                  :style="getOptionBackground(option)"
                )
                span.product_attribute-tooltip-name {{ option.title }}

        .product_options-buttons
          router-link.product_options-button.towishlist(
            to="/some-link"
            unavailable
          )
            span.fa.fa-heart
            span.label-info Add to Wish List
          router-link.product_options-button.tocompare(
            to="/some-link"
            unavailable
          )
            span.fa.fa-exchange
            span.label-info Add to Compare
          router-link.product_options-button.tovr(
            :to="{name: 'VrList'}"
            unavailable
          )
            span.fa.fa-cube
            span.label-info More products in Virtual Room

    .product_feature
      span Preview Features
      ul.product_feature-list
        li.fa.fa-picture-o(
          :class="{'active': productPageCtrl.product.images.length}"
        )
        li.ht.visualizer(
          :class="{'active': productPageCtrl.product.hasVisualizer}"
        )
        li.ht.vr-rotate(
          :class="{'active': productPageCtrl.product.is360}"
        )
        li.fa.fa-film(
          :class="{'active': productPageCtrl.product.video.length}"
        )
  section.product_detailed
    include detailed.pug
