//- tips-paginator.jade

.category-list_settings.settings-bottom
  dl.sorting.show-for-medium
    dt Show:
    dd
      select.sorting_select.select-num(
        ng-model="mediaCtrl.globalParams.show"
        ng-change="mediaCtrl.updateParams(true)"
      )
        option(value="8") 8
        option(value="16") 16
        option(value="24") 24
  pager(
    current-page="mediaCtrl.page"
    total-items="mediaCtrl.totalCount"
    items-per-page="mediaCtrl.globalParams.show"
    on-page-change="mediaCtrl.onPageChange"
  )
