
.category-list_settings.animate-slide.speed-300(
  ng-show="virtualRoomsController.activeFilters || virtualRoomsController.getSearchText()"
)
  .filter_block
    span.filter_title Filters:
    ul(ng-if="virtualRoomsController.getSearchText()").filter_list
      li.filter_item
        .filter-item_text
          span Search:&nbsp;
          strong {{virtualRoomsController.getSearchText()}}
        button(type="button"
          ng-click="virtualRoomsController.removeSearchFilter()"
        ).btn.btn--link.filter-item_delete
          i(aria-hidden="true").fa.fa-times
    ul(
      ng-repeat="(groupName, group) in virtualRoomsController.activeFilters track by $index"
      ng-if="group.length"
    ).filter_list
      li(ng-repeat="filter in group track by $index").filter_item
        .filter-item_text
          span.filter-item_group {{groupName}}:
          | &nbsp;
          span.filter-item_filter {{filter}}
        .filter-item_cross(ng-click="virtualRoomsController.removeFilter(groupName, filter)")
          i(aria-hidden="true").fa.fa-times

  .filter_clear
    button(type="button"
      ng-click="virtualRoomsController.clearAllFilters()"
    ).btn.btn--outline
      i(aria-hidden="true").fa.fa-filter
      span Clear
