mixin entity-switcher
  include tiles-variation/video
  include tiles-variation/article
  include tiles-variation/image
  include tiles-variation/adbutler
  include tiles-variation/external-video
  include tiles-variation/project
  include tiles-variation/vroom

.main-tile_block(
  v-for="(entity, index) in content.mainTile.entities"
  :class="{'reverse-container': index%2}"
)
  .tile-item_wrap
    .tile-item.tile-item--full(
      v-for="(tile, index) in entity"
      v-if="index == 'tile1'"
      )
      +entity-switcher


  .tile-item_wrap
    .tile-item.tile-item--half(
      v-for="(tile, index) in entity"
      v-if="index != 'tile1'"
      )
      +entity-switcher

